<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>24小时传播榜单</title>
  <link rel="stylesheet" href="/static/backend/css/dashboard.css">
</head>

<body>
  <div class="card-container">
    <div class="ranking-list">
      <ol>
        {% for news in top_news %}
        <li>
          <a href="/news/{{ news.news_id }}" target="_parent">
            <span class="rank-icon">🔥</span>
            {{ news.title }}
            <span class="spread-speed">+{{ "%.0f"|format((news.shares/10000)*100) }}%</span>
          </a>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</body>

</html>