<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>热点谣言推荐</title>
  <link rel="stylesheet" href="/static/backend/css/hotpot.css">
</head>

<body>
  <div class="card-container">

    <div class="rumor-highlights">
      {% for rumor in hot_rumors %}
      <div class="rumor-item">
        <a href="/news/{{ rumor.news_id }}" target='_parent'>
          <h3>{{ rumor.title }}</h3>
          <p>来源：{{ rumor.platform }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>